body {
    background-image: url(https://vignette.wikia.nocookie.net/en.futurama/images/4/4c/FUTURAMA-BACKGROUND-small.jpg/revision/latest?cb=20160812075819&format=original);
    background-size: cover;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: maroon;
}

.title {
    width: 620px;

    margin: 25px auto;

    border: 5px solid red;
    border-radius: 5px;

    background-color: #59de8b;

    text-align: center;
    font-size: 60px;
    font-weight: bold;

    overflow: hidden;
}

.gamePanel {
    width: 1155px;
    overflow: hidden;

    margin: 25px auto;
    border: 5px solid red;
    border-radius: 30px;
    padding: 20px;

    background: #59de8b;
}

.subPanel {
    float: left;
    margin: 20px;
    border: 5px solid red;
    border-radius: 15px;
    padding: 20px;

    background:palegoldenrod;
}

.h2 {
    padding: 0 0 10px 0;
    margin:0 0 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.fr {
    float: right;
}

.h140 {
    height: 140px;
}

.copyrightInfo {
    flex-shrink: 0;

    width: 100%;

    margin: 0;
    margin-top: 80px;

    border-top: 5px solid red;

    padding: 25px 0 10px;

    background: #59de8b;

    text-align: center;
    font-size: 10px;
}

#gameFuncContainer {
    float: left;
    overflow: hidden;

    width: 600px;
}

#wordPanel {
    width: 510px;
}

#wordField {
    font-family: 'Lucida Console', 'Courier New', Courier, monospace;
    font-size: 40px;
    color: paleturquoise;

    background-color: darkslategray;
    border: 2px solid steelblue;

    padding: 20px;
}

#wrongGuesses, #guessesRemaining {
    font-size: 20px;
    height: 20px;
}

#wins {
    font-size: 80px;
    font-weight: bold;
    text-align: center;

    padding: 10px;
}

#descPanel {
    float: right;

    width: 450px;
    height: 300px;
}

#charImage {
    float: left;

    width: 200px;

    margin: 0 10px 10px 0;
    border: 2px solid red;
    border-radius: 5px;
}

#description {
    display: block;
}